main {
  margin: 0 auto;
  max-width: 90%;
}

:root {
  --primary: #3f3351;
  --secondy: #b4a5a5;
  --tertiary: #3c415c;
  --accent: #b75d69;
}

h1,
h2,
h3 {
  font-family: "Heebo", sans-serif;
  margin: 5px 0;
  color: var(--secondy);
}

p,
span {
  font-family: "Hind", sans-serif;
  color: #3c415c;
}

a {
  font-family: "Hind", sans-serif;
  color: #b4a5a5;
}

img {
  width: 60%;
}

body {
  background-color: #b4a5a5;
  text-align: center;
}

.name-header {
  font-size: 3.5rem;
  text-decoration: none;
}

.navbar {
  display: block;
  width: 101%;
  background-color: #301b3f;
  top: 0;
  margin-left: -5px;
}

.navtabs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
}

.cats {
  display: inline-block;
}

.card {
  width: 20%;
  margin: 0 auto;
  margin-top: 20px;
  background: transparent;
}

.skills-sec {
  color: #301b3f;
}

#about {
  font-family: "Hind", sans-serif;
  color: var(--primary);
  font-size: 40px;
}

.portrait {
  clip-path: circle();
  width: 250px;
  margin-bottom: 25px;
}

#aboutMe {
  margin: 0 auto;
  max-width: 40%;
}

li {
  list-style: none;
}

nav li {
  cursor: pointer;
}

nav a:hover {
  text-decoration: none;
}

a:hover {
  color: #1a1423;
}

input,
textarea {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  display: block;
}

button {
  background: transparent;
  border: 2px solid #301b3f;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.projects {
  color: #301b3f;
}

form {
  margin-top: 20px;
}

.projectPic {
  width: 30%;
}

.email-btn {
  color: #301b3f;
}

.footer {
  margin-top: 25px;
  width: 100%;
  position: relative;
  bottom: 0;
  height: 60px;
  text-align: center;
  background-color: #301b3f;
}

.footer a {
  color: white;
}
