/* Fonts */
/* Header/Nav/Footer */
/* font-family: 'Heebo', sans-serif */
/* Main Body */
/* font-family: 'Hind', sans-serif */

main {
  margin: 0 auto;
  max-width: 90%;
}

:root {
  --primary: #1a1423;
  --secondy: #372549;
  --tertiary: #774c60;
  --accent: #b75d69;
}

body {
  background-color: #eacdc2;
  text-align: center;
}

.navbar {
  text-align: center;
  display: block;
  width: 100%;
  background-color: #cc8b86;
}

#about {
  font-family: "Hind", sans-serif;
  color: var(--primary);
  font-size: 40px;
}

.icon {
  color: var(--primary);
}
